{% extends "base/base.html" %}

{% block content %}

<header
        class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/img/register-bg.jpg') }}')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Register</h1>
                    <span class="subheading">Welcome!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form action="{{ url_for('auth.register') }}" method="POST">
                    <!-- CSRF protection -->
                    {{ form.hidden_tag() }}

                    <!-- Username field -->
                     <div>
                        <label for="username">{{ form.username.label }}</label>
                        {{ form.username(class="form-control") }}
                        {% if form.username.errors %}
                        <div class="error">
                            {{ form.email.errors[0] }}
                        </div>
                        {% endif %}
                    </div>


                    <!-- Email field -->
                    <div>
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email(class="form-control") }}
                        {% if form.email.errors %}
                        <div class="error">
                            {{ form.email.errors[0] }}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Password field -->
                    <div>
                        <label for="password">{{ form.password.label }}</label>
                        {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                        <div class="error">
                            {{ form.password.errors[0] }}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary mt-3">Register</button>
                </form>
            </div>
        </div>
    </div>


</main>


{% endblock %}