{% extends "base/base.html" %}

{% block content %}

<header
        class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/img/login-bg.jpg') }}')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Login</h1>
                    <span class="subheading">Welcome Back!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <!-- TODO: add a flash message here for users registering twice -->
      <div class="col-lg-8 col-md-10 mx-auto">
         <form action="{{ url_for('login') }}" method="POST">
        <!-- CSRF protection -->
        {{ form.hidden_tag() }}

        <!-- Email field -->
        <div>
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
            <div class="error">
                {{ form.email.errors[0] }}
            </div>
            {% endif %}
        </div>

        <!-- Password field -->
        <div>
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
            <div class="error">
                {{ form.password.errors[0] }}
            </div>
            {% endif %}
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
      </div>
    </div>
  </div>
</main>
<div class="container">




{% endblock %}