{% extends "base/base.html" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/edit-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{ heading }}</h1>
                    <span class="subheading">{{ subheading }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ ckeditor.load() }}  <!-- Load CKEditor scripts -->
<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.subtitle.label(class="form-label") }}
                        {{ form.subtitle(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.img_url.label(class="form-label") }}
                        {{ form.img_url(class="form-control") }}
                    </div>
                    <!-- CKEditor Field -->
                    <div class="form-group">
                        {{ form.body.label }}<br>
                        {{ form.body(class="form-control") }}  <!-- CKEditor applied here -->
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary mt-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
